<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/../../dist/main.css">
</head>
<body>
<div class="wrapper">
    <div class="row header">
        <div class="col-md-12">
            <h1>Builds</h1>
            <p>Latest builds displayed at the top</p>
        </div>
        <table class="deploys">
            <thead>
            <tr>
                <th>App</th>
                <th>State</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody class="builds-body">
            </tbody>
        </table>
        <script src="/../../dist/app.js"></script>
    </div>
</body>
</html>