<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/../../dist/main.css">
</head>
<body>
<div class="wrapper">
    <div class="process-box">
        <img src="../../dist/animations/loading.gif" alt="loading" style="width:300px;">
        <p><span class="user-name">Anon</span> is currently brewing <span class="app-name"
                                                                          style="font-weight:bold;">Partham</span>.</p>
        <p class="build-time">1m 13s</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Hello World!</h1>
            <p>This is an awesome landing page!</p>
        </div>
        <div class="col-md-6">
            <div class="row" style="padding: 15px;">
                <div class="col-md-8">
                    <canvas id="myChart" width="400" height="100"></canvas>
                </div>
                <div class="col-md-2">
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="height:0;"
                             data-usage="0">
                        </div>
                    </div>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="height:0;"
                             data-usage="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="deploys">
            <thead>
            <tr>
                <th>App</th>
                <th>Last Build Duration (seconds)</th>
                <th>Last Build Status</th>
                <th>Last Deploy Duration (seconds)</th>
                <th>Last Deploy Status</th>
                <th>Finished</th>
            </tr>
            </thead>
            <tbody class="deploys-body">
            </tbody>
        </table>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <script src="/../../dist/app.js"></script>
    </div>
</body>
</html>