<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/../../dist/main.css">
</head>
<body>
<div class="wrapper">
    <div class="process-box">
        <img src="../../dist/animations/loading.gif" alt="loading" style="width:300px;">
        <p class="message"></p>
        <p class="build-time"></p>
    </div>
    <div class="row header">
        <div class="col-md-6">
            <h1>Partham</h1>
            <p>Simple Continuous Integration System</p>
        </div>
        <div class="col-md-6">
            <div class="row" style="padding: 15px;">
                <div class="col-md-8">
                    <canvas id="myChart" width="400" height="100"></canvas>
                </div>
                <div class="col-md-2">
                    <div class="progress-bar-wrapper">
                        <div class="label">cpu</div>
                        <div class="progress-bar" style="height:0;"
                             data-usage="0">
                        </div>
                    </div>
                    <div class="progress-bar-wrapper">
                        <div class="label">memory</div>
                        <div class="progress-bar" style="height:0;"
                             data-usage="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="deploys">
            <thead>
            <tr>
                <th>App</th>
                <th>State</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            </thead>
            <tbody class="deploys-body">
            </tbody>
        </table>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <script src="/../../dist/app.js"></script>
    </div>
</body>
</html>